* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  max-width: 1054px;
  margin: auto;
  li {
    list-style-type: none;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  button {
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}

