@media screen and (max-width: 800px) {
  // service
  // about
  .about {
    text-align: left;
    position: relative;
    margin-bottom: 90px;
    img {
      width: 80%;
      margin: 0px;
      margin-top: 54px;
    }
    .about-desc {
      position: absolute;
      max-width: 280px;
      top: 19%;
      right: 2%;
      background: #2947a9;
      color: #fff;
      padding: 16px 23px 24px 9px;
      .about-desc-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 12px;
      }
      .about-desc-content {
        font-size: 12px;
        line-height: 1.5em;
        margin-bottom: 24px;
        max-width: 240px;
      }
      button {
        background: #ffffff;
        /* Primary */
        padding: 10px;
        color: #2947a9;
        border: 1.46346px solid #2947a9;
        border-radius: 4.39039px;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  .service-wrap {
    background: #f6f8f7;
    padding: 20px 0;
    .service-title {
      padding-top: 32px;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .services-content {
      margin: 0;
      .service-list {
        display: flex;
        flex-wrap: wrap;
        .service-item {
          text-align: center;
          margin: 0 24px;
          padding: 40px 18px;
          background: #fff;
          color: #2947a9;
          width: 26.5%;
          margin-bottom: 35px;
          .service-item-icon {
            img {
              padding-bottom: 10px;
              border-bottom: 1px solid #e0e3eb;
            }
          }
          .service-item-name {
            margin-top: 14px;
          }
        }
        .highlight {
          text-align: center;
          margin: 0 24px;
          padding: 40px 18px;
          background: #2947a9;
          color: #fff;
          width: 26.5%;
          margin-bottom: 35px;
        }
      }
    }
  }
  .Stats {
    .descStats {
      padding: 125px 36px;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 82px;
    height: 58px;
    .header-navbar {
      .navbar-list {
        display: flex;
        .navbar-item {
          margin-left: 36px;
          font-size: 13px;
          color: #14171f;
        }
        .highlight {
          color: #f9995d;
        }
      }
    }
  }
  .banner-img {
    width: 100%;
  }
  .about {
    text-align: left;
    position: relative;
    margin-bottom: 90px;
    img {
      margin-left: 12px;
      margin-top: 54px;
    }
    .about-desc {
      position: absolute;
      max-width: 360px;
      top: 19%;
      right: 2%;
      background: #2947a9;
      color: #fff;
      padding: 12px 22px 24px 16px;
      .about-desc-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 26px;
      }
      .about-desc-content {
        font-size: 12px;
        line-height: 1.5em;
        margin-bottom: 44px;
        max-width: 240px;
      }
      button {
        background: #ffffff;
        /* Primary */
        padding: 10px;
        color: #2947a9;
        border: 1.46346px solid #2947a9;
        border-radius: 4.39039px;
        font-size: 12px;
        font-weight: bold;
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }
  .ads {
    position: relative;
    .ads-img {
      width: 100%;
    }
    .ads-content {
      position: absolute;
      top: 30%;
      left: 8%;
      color: #fff;
      display: flex;
      align-items: center;
      .title {
        padding-right: 30px;

        h1 {
          margin-bottom: 8px;
          font-size: 26px;
        }
      }
      .btn {
        color: #fff;
        background: none;
        border: 1px solid #fff;
        margin-right: 10%;
        padding: 10px;
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }
  .project {
    display: flex;
    justify-content: space-between;
    padding: 64px 82px;
    flex-direction: column;
    .ListProject-show {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 60px;
      .detail {
        margin: 12px;
        .img {
          line-height: 0;
          img {
            display: block;
            vertical-align: middle;
          }
        }

        .detail-info {
          clear: none;
          padding: 8px;
          background: #2947a9;
          color: #fff;
          .detail-name {
            font-size: 14px;
            font-weight: 700;
          }
          .detail-address {
            margin-top: 8px;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
    }
    .ListProject-page {
      margin-right: 12px;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      .ListProject-radio {
        margin: 0 28px;
        .radio-item {
          margin: 8px;
        }
      }
      button {
        background-color: #000;
        color: #fff;
        padding: 15px 57px;
        font-size: 14px;
        span {
          padding: 0 12px;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
    .projectNavbar {
      display: flex;
      .projectNavbar-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 42px;
        color: #292e3d;
        margin-bottom: 0px;
        margin-right: 20px;
      }
      .menu-list {
        display: flex;
        .menu-item {
          margin-left: 20px;
          padding-left: 0px;
          margin-top: 14px;
          font-weight: 500;
          font-size: 18px;
          color: #c2c7d6;
          &:hover {
            border-left: none;
            border-bottom: 6px solid #2947a9;
            color: #2947a9;
            font-weight: 700;
            cursor: pointer;
          }
        }
        .first-item {
          border-left: none;
          border-bottom: 6px solid #2947a9;
          color: #2947a9;
          font-weight: 700;
        }
      }
    }
  }
}
