.contact {
  .title {
    margin-bottom: 14px;
    p {
      font-size: 14px;
      font-weight: bold;
      color: #2947a9;
    }
  }
  .mail {
    margin-bottom: 30px;
  }
  .socail {
    .socail-title {
      font-size: 14px;
      font-weight: bold;
      color: #2947a9;
    }
    .socail-list {
      display: flex;
      .socail-item{
        margin-right: 16px;
        margin-top: 16px;
      }
    }
  }
}
