/// header
///
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 82px;
    height: 58px;
    .header-logo {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
      p {
        color: #2947a9;
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
      }
    }
    .header-navbar {
      .navbar-list {
        display: flex;
        .navbar-item {
          margin-left: 36px;
          font-size: 13px;
          color: #14171f;
        }
        .highlight {
          color: #f9995d;
        }
      }
    }
  }
  