.btnHis {
    background: #ffffff;
    /* Primary */
    padding: 10px;
    color: #2947a9;
    border: 1.46346px solid #2947a9;
    border-radius: 4.39039px;
    font-size: 12px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
  }