.info {
    .info-item {
        font-size: 14px;
        margin-bottom: 24px;
        display: flex;
        p {
            color: #2947A9; 
            width: 80px;
            font-weight: bold;
        }
        span {
            color: #292E3D;
        }
    }
}