/// header
///
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 82px;
    height: 58px;
    .header-navbar {
      .navbar-list {
        display: flex;
        .navbar-item {
          margin-left: 36px;
          font-size: 13px;
          color: #14171f;
        }
        .highlight {
          color: #f9995d;
        }
      }
    }
  }
  