.contact {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #f6f8f7;
  .contact-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    color: #292e3d;
    margin-bottom: 16px;
  }
  .contact-decs {
    text-align: center;
    max-width: 400px;
    margin: auto;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .contact-form {
    .btn-submit {
      background: #2947a9;
      border-radius: 1.46346px;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      height: 40px;
      span {
        padding: 0px 60px;
      }
    }
  }
}
