.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 82px;
  height: 58px;
  .header-navbar {
    .navbar-list {
      display: flex;
      .navbar-item {
        margin-left: 36px;
        font-size: 13px;
        color: #14171f;
      }
      .highlight {
        color: #f9995d;
      }
    }
  }
  .header-navbar-mobile {
    display: none;
  }
}
.banner-img {
  width: 100%;
}
.about {
  text-align: left;
  position: relative;
  margin-bottom: 90px;
  img {
    margin-left: 63px;
    margin-top: 54px;
  }
  .about-desc {
    position: absolute;
    max-width: 360px;
    top: 19%;
    right: 10%;
    background: #2947a9;
    color: #fff;
    padding: 36px 43px 44px 29px;
    .about-desc-title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 26px;
    }
    .about-desc-content {
      font-size: 12px;
      line-height: 1.5em;
      margin-bottom: 44px;
      max-width: 240px;
    }
    button {
      background: #ffffff;
      /* Primary */
      padding: 10px;
      color: #2947a9;
      border: 1.46346px solid #2947a9;
      border-radius: 4.39039px;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
.ads {
  position: relative;
  .ads-img {
    width: 100%;
  }
  .ads-content {
    position: absolute;
    top: 30%;
    left: 8%;
    color: #fff;
    display: flex;
    align-items: center;
    .title {
      padding-right: 140px;

      h1 {
        margin-bottom: 22px;
        font-size: 28px;
      }
    }
    .btn {
      color: #fff;
      background: none;
      border: 1px solid #fff;
      padding: 10px;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
