.service-wrap {
  background: #f6f8f7;
  padding: 20px 0;
  .service-title {
    padding-top: 32px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .services-content {
    margin: 0 130px;
    .service-list {
      display: flex;
      flex-wrap: wrap;
      .service-item {
        text-align: center;
        margin: 0 24px;
        padding: 40px 18px;
        background: #fff;
        color: #2947a9;
        width: 26.5%;
        margin-bottom: 35px;
        .service-item-icon {
          img {
            padding-bottom: 10px;
            border-bottom: 1px solid #e0e3eb;
          }
        }
        .service-item-name {
          margin-top: 14px;
        }
      }
      .highlight {
        text-align: center;
        margin: 0 24px;
        padding: 40px 18px;
        background: #2947a9;
        color: #fff;
        width: 26.5%;
        margin-bottom: 35px;
      }
    }
  }
}
